/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

/* common */
/* layout */

.container {
    width: 70%;
    max-width: 900px;
    margin: 0 auto;

    /* debug */
    /* border: 2px solid black; */
   
}

.header .container{
    background-color:orange;
    padding: 10px;
}

/* header */

.header {

    background-color: aqua;
    padding: 20px;
    /* height: 20px; */
    
}

.row {
    display: flex;
    justify-content: space-between
}


.links {
    display: flex;
    margin: 0 8px;
    }


/* main */
/*section*/

section {
    padding: 25px 0;

}

.blue {
    background-color: blue;c
 
}

.white {
        background-color: white;
}

.grey {
    background-color: lightgrey;
}


.hero-container {
    background-color:hotpink;
    min-height: 300px;
    width: 40%;
    max-width: 900px;
    margin: 0 auto;
    
}


/* .row {
    display: flex;
    justify-content: space-between;
} */

/* debug */
/* [class^="col-"] {
    border: 2px solid green;
    min-height: 300px;
} */

.two-col {
    display: flex;
    justify-content: space-between;
    /* border: 2px solid green; */
    min-height: 300px;

}

.col-70 {
    background-color:deepskyblue ;
    width: 60%

}

.col-30 {
    background-color:pink ;
    width: 40%

}



.green {

    background-color: limegreen;
    height: 600px;
    
}